<div class="card mx-auto text-center" id= "authcard">
<div style="padding:20px">
<h2 style="color:#CC0066;">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
  </div><br/>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>
    <%= f.label :avatar,"Upload profile picture"%><br />
    <%= f.file_field :avatar , class: "form-control" %>
  </div><br/>

  <div>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: " New Password", class: "form-control" %>
  </div>
<br/>
  <div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm new password", class: "form-control" %>
  </div>
<br/>
  <div>
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current password", class: "form-control" %>
  </div><br/>

  <div>
    <%= f.submit "Update", class: " form-control btn btn-success" %>
  </div>
<% end %>


<p><%= button_to "Unhappy? Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "form-control btn btn-secondary", method: :delete %></p>
<%= link_to "Back", :back %>
</div>
</div>