<div class="card mx-auto text-center" id= "authcard">
  <div style="padding:20px">
    <h2 style="color:#CC0066;">Register</h2><br/>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div>
        <%= f.text_field :username, autofocus: true, placeholder: 'Username', class: "form-control"%>
      </div><br/>

      <div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: "form-control"%>
      </div><br/>

      <div>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (min 6char)", class: "form-control"%>
      </div><br />

      <div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Re-enter your password", class: "form-control"%>
      </div><br/>

      <div>
        <%= f.submit "Sign up", class: "btn btn-primary"%>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
