<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  .mySlides {display:none;}
</style>
</head>
<div class="posts">

  <div class="row">
    <div class="col-7">
    <%= link_to "New post", new_post_path, class: "btn", style: "float:right; background-color: #CC0066; color: #fff"; %>
      <% @posts.each do |post| %>
        <section class="post">
          <!-- post view -->
            <div class="wrapper">
              <% if post.files.count < 2 %>
                <%= link_to image_tag(post.files[0], :width => '100%'), post_path(post) %>
              <%else%>  
                <div class="w3-content w3-display-container">
                  <% post.files.each do |photo| %>
                    <%= link_to image_tag(photo, class:"mySlides w-100"), post_path(post) %>
                  <% end %>
                
                  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                </div>

                <script>
                  var slideIndex = 1;
                  showDivs(slideIndex);

                  function plusDivs(n) {
                    showDivs(slideIndex += n);
                  }

                  function showDivs(n) {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    if (n > x.length) {slideIndex = 1}
                    if (n < 1) {slideIndex = x.length}
                    for (i = 0; i < x.length; i++) {
                      x[i].style.display = "none";  
                    }
                    x[slideIndex-1].style.display = "block";  
                  }
                </script>  
              <% end %>        
            </div>

            <div class="user">
              <div class="avatar">
              <% if post.user.avatar.attached? %>
             <%= image_tag post.user.avatar %>
              <%else%>
               <%= image_tag("https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp")%>
              <%end %>
              
              </div>
              <div class="username">
                <%=link_to post.user.username, profile_path(post.user.id), class: "username" %>
                <br>
                <a href="https://maps.google.com/maps?q=<%= post.location %>" target="_blank"><%= post.location %></a>
              </div>
            </div>
          <div class="description">
          <%= post.caption %>
          <% if post.user.id == current_user.id %>
            <%= link_to raw("<i class=\"fa fa-edit\" aria-hidden=\"true\" style=\"float: right;\"></i>"), edit_post_path(post.id) %>
            <%= link_to  raw("<i class=\"fa fa-trash-o \"></i>"), post, :method => :delete, :confirm => "Are you sure?", :style=> 'float:right;font-size:12px;margin-right:10px'%>
          <%end%>
          </div>
        </section>
      <% end %> 
    </div>
    <div class="col-3">
      <div class="follower-suggetions">
        <p class="text-muted"> Explore places</p>
        <p><%= link_to "Tokyo", suggestions_path %></p>
        <p><%= link_to "Kyoto", suggestions_path %></p>
        <p><%= link_to "Osaka", suggestions_path %></p>
        <p><%= link_to "Hokkaido", suggestions_path %></p>
        <p><%= link_to "Fukuoka", suggestions_path %></p>
      </div>
    </div>
  </div>
</div>