<div class="posts">
  <div class="row">
    <div class="col-7">
    <%= link_to "New post", new_post_path, class: "btn", style: "float:right; background-color: #CC0066; color: #fff"; %>
      <% @posts.each do |post| %>
        <section class="post">
          <!-- post view -->
            <div class="wrapper">
              
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%=image_tag post.files[0], :width => '100%', class: "d-block w-100"%>
    </div>
    
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
            </div>

            <div class="user">
              <div class="avatar">
              <% if post.user.avatar.attached? %>
             <%= image_tag post.user.avatar %>
              <%else%>
                <%= image_tag("https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp")%>
              <%end %>
              
              </div>
              <div class="username">
                <%=link_to post.user.username, profile_path(post.user.id), class: "username" %>
                <br>
                <%= post.location %>
              </div>

            </div>
          <div class="description">
          <%= post.caption %>
          <% if post.user.id == current_user.id %>
            <%= link_to raw("<i class=\"fa fa-edit\" aria-hidden=\"true\" style=\"float: right;\"></i>"), edit_post_path(post.id) %>
            <%= link_to  raw("<i class=\"fa fa-trash-o \"></i>"), post, :method => :delete, :confirm => "Are you sure?", :style=> 'float:right;font-size:12px;margin-right:10px'%>
          <%end%>
          </div>
        </section>
      <% end %> 
    </div>
    <div class="col-3">
      <div class="follower-suggetions">
        <p class="text-muted"> Explore places</p>
        <p> Tokyo </p>
        <p> Kyoto </p> 
        <p> Osaka</p>
        <p> Hokkaido </p>
      </div>
    </div>
  </div>
</div>