<div class="card mx-auto text-center" id="authcard">
  <div style="padding:20px">
    <h2 style="color:#CC0066;">Forgot your password?</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
      </div><br/>

      <div>
        <%= f.submit "Send me reset password instructions", class: "form-control" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>