<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  .mySlides {display:none;}
</style>
</head>
<div class="title">
  <%= @post.title %>
</div>
<div class="post-show row">
  <div class="col-md-8">
    <div class="wrapper">
              <% if @post.files.count < 2 %>
                <%=image_tag post.files[0], :width => '100%'%>
              <%else%>  
                <div class="w3-content w3-display-container">
                  <% @post.files.each do |photo| %>
                    <%= image_tag photo, class:"mySlides w-100" %>
                  <% end %>
                
                  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                </div>

                <script>
                  var slideIndex = 1;
                  showDivs(slideIndex);

                  function plusDivs(n) {
                    showDivs(slideIndex += n);
                  }

                  function showDivs(n) {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    if (n > x.length) {slideIndex = 1}
                    if (n < 1) {slideIndex = x.length}
                    for (i = 0; i < x.length; i++) {
                      x[i].style.display = "none";  
                    }
                    x[slideIndex-1].style.display = "block";  
                  }
                </script>  
              <% end %>        
            </div>
  </div>

  <div class="col-md-4">
    
    
      <div class="location">
        <span>
          Address: 
        </span>
          <%= @post.location %>
      </div>
      <div class="geo">
        Geo location using google maps (Yet to be developed)
      </div>
   
  

  </div>
  <div class="description">
  <%= @post.caption %>
  <p class="text-muted", style="font-size:10px;">posted <%=time_ago_in_words @post.created_at%> ago</p>
  <% if @post.user.id == current_user.id %>
    <%= link_to  raw("<i class=\"fa fa-trash-o \"></i>"), @post, :method => :delete, :confirm => "Are you sure?", :style=> 'float:right;font-size:15px;'%>
  <%end%>
</div>
</div>